<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= name %></title>

    {% if craft.config.devMode %}
    <!-- build:css(public) /dist/styles.min.css -->
    <link href="/css/fonts.css" rel="stylesheet">
    <link href="/css/variables.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <!-- endbuild -->
    {% else %}
    <!-- inject:css -->
    <link rel="stylesheet" href="/public/dist/styles.min.css">
    <!-- endinject -->
    {% endif %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= name %></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    {% if craft.config.devMode %}
      <!-- build:js(public) /dist/vendor.min.js -->
      <script src="/bower_components/jquery/dist/jquery.js"></script>
      <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
      <!-- endbuild -->

      <!-- build:js(public) /dist/script.min.js -->
      <script src="/js/layout.js"></script>
      <script src="/js/script.js"></script>
      <!-- endbuild -->

      <script type='text/javascript' id="__bs_script__">//<![CDATA[
          document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.6.5.js'><\/script>".replace("HOST", location.hostname));
      //]]></script>

    {% else %}
      <!-- inject:js -->
      <!-- endinject -->
    {% endif %}

  </body>
</html>
